.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: azure;
}

.about-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.about-container h1{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
}

.about-container p{
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    margin-bottom: 1rem;
} 
