
.header{
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: calc(10px + 2vmin);
    padding: 0 2rem;
    border-radius: 5px ;
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.header-logo{
    height: 50px;
    /* width: 50px; */
    pointer-events: none;
}

.header-logo img{
    height: 100%;
    width: 100%;

}

.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav-item{
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

.header-nav-item:hover{
    color: #61dafb;
}

.header-nav-item-active{
    color: #61dafb;
}

.header-nav-item-active:hover{
    color: white;
}

.header-btn{
  left: 20px;
}

.header-btn button{
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #282c34;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

