

/* Login Signup  */
.login-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 100%;
    z-index: 1;
  }
  
  .login-signup__container {
    position: relative;
    height: 100%;
    /* width: 500px; */
    /* height: 350px; */
    padding-right: 20px;
  }
  
  .login-signup__dialog__close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .login-signup__dialog__form {
    text-align: center;
  }
  
  .login-signup__input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  .login-signup__button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .login-signup__dialog__switch {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .change-state {
    cursor: pointer;
  }
  
  .login-signup__dialog__message {
    margin: 0 10px;
    font-size: 14px;
    color: red;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
  
  }
  
  
  
  .google-login {
    background-color: #fff;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    /* max-width: 100%; */
    z-index: 1;
  }
  .google-login__button {
    /* background-color: #4caf50; */
    color: #fff;
    /* padding: 10px; */
    width: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  
  